
/*-----------------------------------------------principal theme colors-----------------------------------------------*/

$dark: #00849a;
$primary: #0074d9;
$secondary: #ff7f27;
$info: #fff200;

/*--------------------------------------------------spaces settings---------------------------------------------------*/

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4,
  7: $spacer * 1.25,
  8: $spacer * 5,
  9: $spacer * 8,
  10: $spacer * 10,
  11: $spacer * 1.75
);

$pagination-color:$dark;

$enable-negative-margins: true;

$utilities: (
  "width": (
        property: width,
        class: w,
        values: (
          25: 25%,
          50: 50%,
          75: 75%,
          100: 100%,
          600:600%,
          750:750%,
          auto: auto
        ),
        )
);


// @media (max-width: 767px){
// .textArea
// {width: 295px !important;
// height:300px !important;}
// }
//
// @media (min-width: 768px) and (max-width: 991px){
// .textArea
// {width: 495px !important;
// height:300px !important;}
// }
// @media (min-width: 992px){
// .textArea
// {width: 795px !important;
// height:400px !important;}
// }

$tooltip-bg:$dark;



@import "../node_modules/bootstrap/scss/bootstrap.scss";
