<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>Mediscreen</title>
</head>
<body>

<!-------------------------------------------------  Navigation bar and logo  -------------------------------------------------->

<div class="container-fluid">
    <header th:insert="navigation.html :: navigationBar"></header>
</div>

<!------------------------------------------------------------------------------------------------------------------------------->

<div class="container-fluid mt-9 bg-dark bg-opacity-10">
    <div class="row justify-content-center">

        <!-------------------------------------------------  Left part  -------------------------------------------------->

        <div class="col-md-8 col-12 mt-6 text-dark text-center">

            <!-------------------------------------------------  Title and subtitle  -------------------------------------------------->

            <h4 th:if="${linkedFrom == 'allPatients'}"> All patients list
            </h4>

            <h4 th:if="${linkedFrom == 'research'}"> Result for searching
                <span class="fw-semibold fst-italic text-uppercase" th:if="${familyName != null}" th:text="${familyName}"></span>
                <span class="fw-semibold fst-italic" th:if="${givenName != null}" th:text="${givenName}"></span>
            </h4>

            <h5 class="mt-4" th:if="${listOfPatientsToDisplay.patientList.size}!=0">Select a patient in the list to visualize his card :
            </h5>

            <h5 class="mt-4" th:if="${listOfPatientsToDisplay.patientList.size}==0 and ${linkedFrom == 'research'}">Sorry, there is no result for your research.
            </h5>

            <h5 class="mt-4" th:if="${listOfPatientsToDisplay.patientList.size}==0 and ${linkedFrom == 'allPatients'}">There is not any patient registered yet.
            </h5>

            <!-------------------------------------------------  Patient table -------------------------------------------------->

            <div class="row justify-content-center mt-6 mb-4">
                <div th:if="${listOfPatientsToDisplay.patientList.size}!=0" class="col-md-10 col-12 ">
                    <div class="table-responsive">
                        <table class="table table-light table-striped table-hover table-borderless align-middle border border-dark rounded table-rounded">

                            <!-------------------------------------------------  Table head  -------------------------------------------------->

                            <thead class="text-light">
                            <tr>
                                <th scope="col" class="bg-dark text-center">Family Name</th>
                                <th scope="col" class="bg-dark text-center">Given Name</th>
                                <th scope="col" class="bg-dark text-center">Sex</th>
                                <th scope="col" class="bg-dark text-center">Date of Birth</th>
                                <th scope="col" class="bg-dark text-center d-none d-lg-table-cell">Phone</th>
                                <th scope="col" class="bg-dark text-center d-none d-lg-table-cell">Address</th>
                                <th scope="col" class="bg-dark"></th>
                                <th scope="col" class="bg-dark"></th>
                            </tr>
                            </thead>

                            <!-------------------------------------------------  Table body  -------------------------------------------------->

                            <tbody>
                            <tr scope="row" th:each="patient : ${listOfPatientsToDisplay.patientList}">

                                <a th:href="@{/patient/getPatient/{patientId}(patientId=${patient.patientId})}"> <td class="text-center text-uppercase fw-bolder text-dark"
                                    th:text="${patient.familyName}"></td></a>
                                <td class="text-center fw-bolder text-dark"
                                    th:href="@{/patient/getPatient/{patientId}(patientId=${patient.patientId})}" th:text="${patient.givenName}"></td>
                                <td class="text-center" th:text="${patient.sex}"></td>
                                <td class="text-center" th:text="${patient.dateOfBirth}"></td>
                                <td class="text-center d-none d-lg-table-cell" th:text="${patient.phone}"></td>
                                <td class="text-center d-none d-lg-table-cell" th:text="${patient.address}"></td>
                                <td class="text-center">
                                    <a th:href="@{/patient/getPatient/{patientId}(patientId=${patient.patientId})}">
                                        <i class="fa-solid fa-eye text-dark"></i>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a th:href="@{/patient/delete/{patientId}(patientId=${patient.patientId})}">
                                        <i class="fa-solid fa-trash-can text-dark"></i>
                                    </a>
                                </td>

                            </tr>
                            </tbody>

                            <!----------------------------------------------------------------------------------------------------------------->

                        </table>
                    </div>
                </div>
            </div>

            <!-------------------------------------------------  Pagination  -------------------------------------------------->

            <nav class="mb-4 mb-md-6" th:if="${listOfPatientsToDisplay.patientList.size}!=0"
                 aria-label="Page navigation">
                <ul class="pagination justify-content-center">

                    <!-------------------------------------------------  First page  -------------------------------------------------->

                    <li class="page-item">

                        <a class="page-link" th:if="${linkedFrom == 'allPatients'}"
                           th:href="@{/patient/getAllPatients(currentPage=1)}" aria-label="First">
                            <span aria-hidden="true">&laquo;</span>
                        </a>

                        <a class="page-link" th:if="${linkedFrom == 'research'}"
                           th:href="@{/patient/getPatient(currentPage=1,familyName=${familyName},givenName=${givenName})}"
                           aria-label="First">
                            <span aria-hidden="true">&laquo;</span>
                        </a>

                    </li>

                    <!-------------------------------------------------  Displayed pages  -------------------------------------------------->

                    <li class="page-item" th:each="page : ${listOfPatientsToDisplay.pagesToDisplay}" th:if="${page!=null and linkedFrom == 'allPatients'}">
                        <a class="page-link" th:href="@{/patient/getAllPatients(currentPage=${page})}" th:text="${page}"></a>
                    </li>

                    <li class="page-item" th:each="page : ${listOfPatientsToDisplay.pagesToDisplay}" th:if="${page!=null and linkedFrom == 'research'}">
                        <a class="page-link" th:href="@{/patient/getPatient(currentPage=${page},familyName=${familyName},givenName=${givenName})}" th:text="${page}"></a>
                    </li>

                    <!-------------------------------------------------  Last page  -------------------------------------------------->
                    <li class="page-item">
                        <a class="page-link" th:if="${linkedFrom == 'allPatients'}" th:href="@{/patient/getAllPatients(currentPage=${listOfPatientsToDisplay.totalNumberOfPages})}" aria-label="Last">
                            <span aria-hidden="true">&raquo;</span>
                        </a>

                        <a class="page-link" th:if="${linkedFrom == 'research'}" th:href="@{/patient/getPatient(currentPage=${listOfPatientsToDisplay.totalNumberOfPages},familyName=${familyName},givenName=${givenName})}" aria-label="Last">
                            <span aria-hidden="true">&raquo;</span>
                        </a>

                    </li>

                    <!------------------------------------------------------------------------------------------------------------------>

                </ul>
            </nav>

            <!-------------------------------------------------  Reinitialisation list button (only when research)  -------------------------------------------------->

            <div class="row justify-content-center mb-4 mb-md-6">
                <a th:if="${linkedFrom == 'research'}" th:href="@{/patient/getAllPatients}" class="btn btn-dark d-block text-light fw-bolder col-md-4 col-6" type="button">See all patients list</a>
            </div>

            <!----------------------------------------------------------------------------------------------------------------------------->

        </div>

        <!-------------------------------------------------  Right part  -------------------------------------------------->

        <div class=" col-md-4 col-12 mt-4 mt-md-6 mb-4 mb-md-6 text-dark text-center ">

            <!-------------------------------------------------  Title and subtitle  -------------------------------------------------->

                <h4> Or search a patient</h4>

                <h5 class="mt-4">Enter a family name and/or a given name to search :</h5>

            <!-------------------------------------------------  Research form  -------------------------------------------------->

            <div class="row justify-content-center mt-6 mb-4 mx-2">
                <form class="row col-md-10 col-12 justify-content-center border border-dark border-opacity-30 rounded" method="post" th:action="@{/patient/getPatient}" th:object="${patientSearch}">

                    <!-------------------------------------------------  Family name  -------------------------------------------------->

                    <div class="col-12 col-md-8 mt-4">

                        <label for="inputFamilyName" class="form-label fs-5">Family name</label>
                        <input th:field="*{familyName}" type="text" class="form-control" id="inputFamilyName" placeholder="Family name">

                    </div>

                    <!-------------------------------------------------  Given name  -------------------------------------------------->

                    <div class="col-12 col-md-8 m-2">

                        <label for="inputGivenName" class="form-label fs-5">Given name</label>
                        <input th:field="*{givenName}" type="text" class="form-control" id="inputGivenName" placeholder="Given name">

                    </div>

                    <!-------------------------------------------------  Button  -------------------------------------------------->

                    <div class="d-grid gap-2 mx-auto col-12 col-md-8 my-4">

                        <button class="btn btn-dark text-light" type="submit">Search</button>

                    </div>

                    <!-------------------------------------------------------------------------------------------------------------->


                </form>
            </div>
        </div>
    </div>
</div>

<!-------------------------------------------------  Bottom bar  -------------------------------------------------->

<div class="container-fluid m-0 p-0">
    <footer th:insert="navigation.html :: bottomBar"></footer>
</div>

<!------------------------------------------------------------------------------------------------------------------>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/f923d597fd.js" crossorigin="anonymous"></script>


</body>
</html>